.nav-bar-sign-out{
    color: #db0c26		;
    font-size: 20px;
}
.dropdown-toggle::after{
    font-size: 15px;
    color: #db0c26	;
}

.dropdown>.btn-primary{
    border-color: transparent!important;
    background-color:transparent!important;
    box-shadow: 0 0 0 0 transparent!important;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: white;
}

.list-item a{
    font-size: 15px;
    color: #000505;
}

.list-item a:hover{
    text-decoration: none;
}
