@media (min-width: 500px)
{
    .container{
        max-width: 100vw;
    }
}

.navbar{
    border-radius: 0;
    background-color: #000505;
}

.navbar-light .navbar-nav .nav-link,.navlinks {
    font-size: 18px;
    
    text-align: center;
    padding: 1rem 1rem;
    color: #db0c26	;
    margin-left: 0.5rem;
}

.nav-link:focus, .nav-link:hover{
    background-color: #db0c26	;
    color: #420608	;
    border-radius: 4px;
}

.nav-bar-logo{
    color: #db0c26!important;
    font-size: 60px;
}

.nav-bar-setting-logo{
    color: #db0c26;
    font-size: 25px;
    margin-right: 1rem;
}

.search-bar > .form-control{
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 300px;
}
.nav-bar-search-icon{
    color:  #fff;
    border: 1px solid #db0c26;
    background-color: #000505	;
    font-size: 13px;
}

.nav-justified{
    width: 60%;
}

.navigation{
    width: 100%;
}
